:root {
  --skin: #f6c09c;
  --background: #ed4042;
  --red: #ed2860;
  --dark-red: #680524;
  --black: #00243a;
  --white: #fff;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.head {
  width: 200px;
  height: 350px;
  background-color: var(--skin);
  border-radius: 100px;
  position: relative;
}

.eye-right {
  width: 50px;
  height:50px;
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  left: 55px;
  top: 100px;
}

.eye-left {
  width: 50px;
  height:50px;
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  left: 95px;
  top: 100px;
}

.expression {
  width: 100px;
  height: 25px;
  background-color: var(--skin);
  position: absolute;
  left: 50px;
  top: 90px;
}

.beard {
  width: 200px;
  height: 220px;
  background-color: var(--black);
  position: absolute;
  top: 170px;
  border-radius: 70px 70px 100px 100px;
}

.nose {
  width: 50px;
  height: 50px;
  background-color: var(--skin);
  border-radius: 100px;
  position: absolute;
  top: 56%;
  left: 38%;
  transform: translate(0, -100%);
}

.ear-left {
  width: 40px;
  height: 40px;
  background-color: var(--skin);
  border-radius: 100px;
  position: absolute;
  top: 40%;
  left: -10%;
}

.ear-right {
  width: 40px;
  height: 40px;
  background-color: var(--skin);
  border-radius: 100px;
  position: absolute;
  top: 40%;
  left: 90%;
}

.mouth {
  width: 80px;
  height: 50px;
  background-color: var(--dark-red);
  border-radius: 0 0 100px 100px;
  position: absolute;
  top: 65%;
  left: 30%;
  transform: translate(0, -40%);
}

.teeth {
  width: 60px;
  height: 10px;
  background-color: var(--white);
  border-radius: 0 0 5px 0 ;
  position: absolute;
  top: 59.5%;
  left: 30%;
}

.tongue {
  width: 40px;
  height: 20px;
  background-color: var(--red);
  border-radius: 0 10px 0 100%;
  position: absolute;
  top: 70%;
  left: 33%;
  transform: translate(0, -40%);
}